<%- include('./includes/header') %>
<link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('./includes/navbar') %>

    <div>
        <img id="error" src="https://img.freepik.com/free-vector/creative-404-error-background_23-2147789708.jpg?w=740" alt="Oops! Page not found">
    </div>
    <div class="container">
        <div class="alert alert-primary" role="primary">
            404 Page not found
        </div>
    </div>
    
    <%- include('./includes/footer') %>